body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

#big__container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main__container {
    display: flex;
    align-items: center;
    min-height: 900px;
    flex-wrap: wrap;
}

.card {
    display: grid;
    grid-template-rows: 330px 261px 120px;
    grid-template-areas: "image" "text" "info";
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 15px;
}

.card-text {
    grid-area: text;
    margin-left: 5px;
    margin-right: 5px;
}

.card-info {
    grid-area: info;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.marg {
    margin-left: 10px;
    margin-right: 10px;
}

.btn {
    width: 85px;
    height: 35px;
    background-color: rgb(76, 199, 96);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    transition: 0.5s 0s all ease;
}

.btn:hover {
    width: 95px;
    height: 40px;
    transition: width 0.5s, height 0.5s;
}

a {
    text-decoration: none;
}

.slika {
    max-height: 100%;
    min-width: 100%;
}

#card-img {
    max-width: 100%;
    grid-area: image;
    background-image: url("https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/105505209.jpg?k=9810cfca8be7577dc693fa6f361c210c0c299b3e684689e4eb10e6ebb71846b0&o=&hp=1");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#card-img2 {
    max-width: 100%;
    grid-area: image;
    background-image: url("https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/193463419.jpg?k=d8e71d543c2f2ac91868a4b22715a0e90a0fe08ccf3aa1f179001c869482cf5d&o=&hp=1");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#card-img3 {
    max-width: 100%;
    grid-area: image;
    background-image: url("https://a0.muscache.com/im/pictures/293ec30f-86a6-40dc-8e23-441f06748f9b.jpg?im_w=1200");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#card-img4 {
    max-width: 100%;
    grid-area: image;
    background-image: url("https://a0.muscache.com/im/pictures/7d595ea6-2088-4109-b384-beb9f283ac2b.jpg?im_w=960");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#card-img5 {
    max-width: 100%;
    grid-area: image;
    background-image: url("https://a0.muscache.com/im/pictures/77b2f6c6-5c42-4706-8c2f-2d7a3238c2fd.jpg?im_w=1200");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#card-img6 {
    max-width: 100%;
    grid-area: image;
    background-image: url("https://a0.muscache.com/im/pictures/03b3c6d1-c632-4bf7-a564-6f0f628e380e.jpg?im_w=1200");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#card-img7 {
    max-width: 100%;
    grid-area: image;
    background-image: url("https://a0.muscache.com/im/pictures/80710263/a0f04f45_original.jpg?im_w=960");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#card-img8 {
    max-width: 100%;
    grid-area: image;
    background-image: url("https://a0.muscache.com/im/pictures/011251b3-2faf-4d73-836c-53d037e5c25d.jpg?im_w=960");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#card-img9 {
    max-width: 100%;
    grid-area: image;
    background-image: url("https://a0.muscache.com/im/pictures/803f597f-0578-4fc7-b7a4-1e5bc52041cf.jpg?im_w=960");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p {
    font-family: sans-serif;
}

#me {
    background-image: url("https://scontent.fbru2-1.fna.fbcdn.net/v/t31.18172-8/13958117_1406832209331856_2866622260963214447_o.jpg?_nc_cat=110&ccb=1-5&_nc_sid=e3f864&_nc_ohc=mK5T7_1aUToAX_xEFpI&_nc_ht=scontent.fbru2-1.fna&oh=00_AT_051ERIG-tFUm_3TWcZSkHaB4hjQ-M0-51Qd4lyrJO7Q&oe=6228570A");
    width: 450px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#myBest {
    font-size: xx-large;
}

.img:hover {
    transform: scale(1.2);
}

.liste {
    text-align: initial;
}